body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	background: linear-gradient(to right, #ff881f,  #3773da);
    background-repeat: no-repeat;
}
section {
    padding: 60px 20px;
    text-align: center;
}
.image-container-top{
    height: auto;
    width: auto;
    overflow: hidden;
}
.image-container{
    height: auto;
    width: auto;
    overflow: hidden;
}
.vision-grid {
    gap: 20px;
    justify-content: center;
    background-color: #007BFF;
}

.vision {
    display: flex;
    flex-wrap: wrap;
   
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    flex: 1 1 calc(33.333% - 40px);
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vision h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.vision p{
    font-size: 16px;
    margin-bottom: 20px;
}

.read-more, .view-more, .learn-more {
    color: #007BFF;
    text-decoration: none;
    font-weight: 600;
}

.read-more:hover, .view-more:hover, .learn-more:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    header nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
    }

    header nav ul.active {
        transform: translateX(0);
    }

    header .bars-button {
        display: flex;
    }

    .services-grid, .projects-grid, .blog-posts {
        flex-direction: column;
    }

    .service, .project, .blog-post {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}